.App {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #282c34;
  text-align: left;
  padding: 8px;
}

.Table {
  width: 500px;
}

input{
  width: 200px;
  height: 20px;
  font-size: 20px;
  border: #282c34;
  background-color: #282c34;
  color: white;
}